h1{
  font-family: 'Avantgarde', sans-serif;
  color: #EBB323;
  text-shadow: 2px 2px #967317;
}
h2{
  font-family: sans-serif;
}
.wrapper{
  width: 640px;
  height: 640px;
  border: 10px solid;
  border-radius: 8px;
  border-color: #B70827;
  background-color: #E8E8E8;
  margin: auto;
  overflow: hidden;
  box-shadow: 10px 10px 5px #888888;
}
.sketch{
  display: block;
  float: right;
}
.title{
  width: 640px;
  height: 80px;
  margin: 10px auto;
  text-align: center;
}
.buttons{
  margin: auto;
  width: 640px;
  height: 100px;
}
.reset{
  width:180px;
  height: 65px;
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
  border: 3px solid;
  border-radius: 5px;
  border-color: #AEA9AA;
  background-color: white;
  float: right;
  box-shadow: 10px 10px 5px #888888;
}
.clear{
  width:180px;
  height: 65px;
  text-align: center;
  font-size: 15px;
  margin: 20px auto;
  border: 3px solid;
  border-radius: 5px;
  border-color: #AEA9AA;
  background-color: white;
  float: left;
  box-shadow: 10px 10px 5px #888888;
}
